<a href="https://colab.research.google.com/github/mapleyoyo/Python/blob/master/CH_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CH.18**

# 18-1

In [1]:
for ch in "Python is fun!":
    print("the character is", ch)

the character is P
the character is y
the character is t
the character is h
the character is o
the character is n
the character is
the character is i
the character is s
the character is
the character is f
the character is u
the character is n
the character is !

# 18-2

In [2]:
my_string = "Python is fun!"
len_s = len(my_string)
for i in range(len_s):
    print("the character is", my_string[i])

the character is P
the character is y
the character is t
the character is h
the character is o
the character is n
the character is
the character is i
the character is s
the character is
the character is f
the character is u
the character is n
the character is !

# 18-3

In [3]:
winners =("Peter", "Mark", "Joy")
print(" 恭喜以下得獎人:")
for name in winners:
    print(name)

 恭喜以下得獎人:
Peter
Mark
Joy

# 18-4

In [4]:
prizes =(" 頭獎 ", " 二獎 ", " 三獎 ")
winners =("Peter", "Mark", "Joy")
print(" 恭喜以下得獎人:")
for i in range(3):
    print(prizes[i]+ ":" + winners[i])

 恭喜以下得獎人:
 頭獎 :Peter
 二獎 :Mark
 三獎 :Joy

# 18-5

In [5]:
winners =((" 頭獎 ", "Peter"),(" 二獎 ", "Mark"),(" 三獎 ", "Joy"))
print(" 恭喜以下得獎人:")
for e in winners: 
    print(e[0]+ ":" + e[1])

 恭喜以下得獎人:
 頭獎 :Peter
 二獎 :Mark
 三獎 :Joy

# 18-6

In [6]:
winners =((" 頭獎 ", "Peter"),(" 二獎 ", "Mark"),(" 三獎 ", "Joy"))
print(" 恭喜以下獎人:")
for prize, winner in winners:
    print(prize+ ":" + winner)

 恭喜以下獎人:
 頭獎 :Peter
 二獎 :Mark
 三獎 :Joy

# 18-7for迴圈

In [7]:
for x in range(3):
    print("var x is", x)

var x is 0
var x is 1
var x is 2

# 18-7while迴圈

In [8]:
 x = 0
while x < 3:
    print("var x is", x)
    x += 1

var x is 0
var x is 1
var x is 2